@use '@/shared/assets/scss/abstract' as *;

.reaction {

  // .reaction__body
  &__body {
    display: flex;
    gap: 1px;
    border-radius: toRem(30);
    // border-radius: 30%;
    overflow: hidden;
    transform: translateZ(0);
  }

  // .reaction__button
  &__button {
    padding: toRem(8);
    background: rgba(4, 4, 5, 0.04);
    // transition: background-color $trsDur ease 0s;
    @include transMultiple(background-color color, $trsDur, ease, 0s);

    &:first-child {
      padding-left: toRem(12);
    }

    &:last-child {
      padding-right: toRem(12);
    }
    &.active {
      color: rgba(255, 255, 255, 0.95);

      path {
        fill: currentColor;
      }

      .reaction__icon-before {
        opacity: 0;
        visibility: hidden;
      }

      .reaction__icon-after {
        opacity: 1;
        visibility: visible;
      }

      .reaction__number {
        opacity: 1;
      }


      &.like {
        background-color: red;
      }
      &.dislike{
        background-color: $blackColor;
        .reaction__number {
          opacity: 0.4;
        }
      }
    }
  }

  // .reaction__button-body
  &__button-body {
    display: flex;
    align-items: center;
  }

  // .reaction__icon
  &__icon {
    margin: toRem(0) toRem(4) toRem(0) toRem(0);
    line-height: 0;
    font-size: 0;
    width: toRem(13);
    position: relative;

    svg {
      width: 100%;
      path{
        transition: fill $trsDur ease 0s;
      }
    }

    // .reaction__icon-before, .reaction__icon-after
    &-before,
    &-after {
      @include transMultiple(opacity visibility, $trsDur, ease, 0s);
    }

    // .reaction__icon-after
    &-after {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      visibility: hidden;
    }

    // path{
    //   stroke-width: 10px;
    // }
  }

  // .reaction__type
  &__type {
    text-transform: capitalize;
    margin: toRem(0) toRem(6) toRem(0) toRem(0);
  }

  // .reaction__number
  &__number {
    opacity: 0.3;
    transition: opacity $trsDur ease 0s;
  }
}